<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <style>


        .Lohko2 {
            font-size: large;
            text-align: right;
        }
    </style>

</head>
<body>

    <nav class="Lohko2">

        <input type="button" id="palaa" value="Palaa adminsivulle" />

    </nav>

    <div>
        <table id="taulu" name="taulu" class="table table-bordered" style="width:60%" align="center">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Käyttäjä
                    </th>
                    <th>
                        Laite ID
                    </th>
                    <th>
                        Merkki
                    </th>
                    <th>
                        Malli
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Lainauspvm
                    </th>
                    <th>
                        Palautuspvm
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
        </table>
    </div>




    <script type="text/javascript" language="javascript">

        HaeData();

        var data;


        function HaeData() {


            $.ajax({
                url: "http://localhost:3003/haeKaikkiVaraukset",
                method: 'GET',
                "dataType": "json"
            }).done(function (data, textStatus, jqXHR) {

                editor = $('#taulu').DataTable({

                    "data": data,
                    "columns": [
                        { "data": "varaus_id" },
                        { "data": "tunnus" },
                        { "data": "laite_id" },
                        { "data": "merkki" },
                        { "data": "malli" },
                        { "data": "status" },
                        { "data": "lainauspvm" },
                        { "data": "palautuspvm" },
                        { "defaultContent": '<button id="delete">Poista</button>' },
                        { "defaultContent": '<button id="muokkaa">Muokkaa</button>' },
                    ],


                });

            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log("Kutsu epäonnistui");

            }).always(function (jqXHR, textStatus, errorThrown) {
                console.log("meow");
            });




            $('#taulu').on('click', '#delete', function () {

                var varaus_id = $(this).closest('tr').find('td:eq(0)').text();
                alert("olet poistamassa varausta jonka id on = " + varaus_id);
                if (confirm("Poistetaanko varmasti?")) {
                    $.ajax({
                        url: "http://localhost:3003/poistaVaraus?varaus_id=" + varaus_id,
                        method: "GET",
                        //data: { laite_id : laite_id },
                        success: function (data) {

                            $('#taulu').DataTable().destroy();
                            HaeData();
                        }
                    });
                    setInterval(function () {
                        $('#alert_message').html('');
                    }, 5000);
                }
            });

            $('#palaa').click(function () {

                window.location = "http://localhost:3003/adminsivu";

            });

        }
    </script>

</body>
</html>
